	<div id="header">
		<a href="index.html">rebecca linde</a>
	</div>
	
	<nav>
		<% menu_items = ["home", "about", "work"] %>
		<% menu_items.each do |item| %>
		<ul>
			<li><a href="/<%= item %>"><%= item %></a></li>
		</ul>
		<% end %>
	</nav>

			<div id="spacer"></div>
		<div id="mainWrap">
			<div id="leftWrap">
				<p class="mainHeading">about rebecca</p>
				<p><span class="heading">now, this is a story all about how</span>
					my life got flip-turned upside-down. And I'd like to take a minute - just sit right there - I'll tell you how I became the prince of a town called Bel Air. <br/><br/>
				</p>
				<p><span class="heading">in west philadelphia (born and raised),</span>
					 on the playground was where i'd spend most of my days. Chillin' out, maxin', relaxin' all cool, and all shootin' some b-ball outside of school when a couple of guys who were up to no good started making trouble in my neighborhood. I got in one little fight and my mom got scared. 
				</p>
				<p class="quote">
					she said 'you're moving with your auntie and uncle in bel air.'<br/><br/>
				</p>
				<p><span class="heading">i whistled for a cab</span>
					and when it came near, the license plate said "fresh" and it had dice in the mirror. If anything, I could say that this cab was rare, but I thought, "nah, forget it. Yo homes, to Bel Air!"<br/><br/>
				</p>
				<p> <span class="heading">i pulled up to the house around seven or eight</span>
					and I yelled to the cabbie, "Yo homes, smell ya later!" I looked at my kingdom - I was finally there. To sit on my throne as the Prince of Bel Air.<br/><br/>
				</p>
			</div>
			<div id="rightWrap">
				<p>
					<img src="Images/rainbow.jpg" style="width:250px; padding:10px; align:right;"/>
					rebecca can be reached at <a href="mailto:rklinde@gmail.com">rklinde@gmail.com</a>
				</p>
				<p>
					<a href="https://www.facebook.com/profile.php?id=2252048" target="_blank"><img src="Images/f_icon.gif" style="width:20px; padding-right:30px;" /></a><a href="https://www.twitter.com/rklinde" target="_blank"><img src="Images/t_icon.gif" style="width:20px;" /></a>
				</p>
			</div>


		</div>