	<div id="header">
		<a href="index.html">rebecca linde</a>
	</div>
	
	<nav>
		<% menu_items = ["home", "about", "work"] %>
		<% menu_items.each do |item| %>
		<ul>
			<li><a href="/<%= item %>"><%= item %></a></li>
		</ul>
		<% end %>
	</nav>

	<div id="spacer"></div>
		<div id="mainWrap">
			<div id="leftWrap">
				<p><span class="heading">rebecca linde was born on leap day.</span>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
				</p>
				<p><span class="heading">she loves film and television.</span>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
				</p>
				<p><span class="heading">and cereal.</span>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
				</p>


			</div>
			<div id="rightWrap">
				<p>
					<img src="Images/rainbow.jpg" style="width:250px; padding:10px; align:right;"/>
					rebecca can be reached at <a href="mailto:rklinde@gmail.com">rklinde@gmail.com</a>
				</p>
				<p>
					<a href="https://www.facebook.com/profile.php?id=2252048" target="_blank"><img src="Images/f_icon.gif" style="width:20px; padding-right:30px;" /></a><a href="https://www.twitter.com/rklinde" target="_blank"><img src="Images/t_icon.gif" style="width:20px;" /></a>
				</p>
			</div>


		</div>