<!-- practice from class -->

<div style="font-size:22pt;">
	Hello World <br>
</div>

	<% names = ["rebecca", "kate", "linde"] %>
		<% names.each do |name| %>
		<b><%= name %></b><br>

	<% end %>

	<% menu_items = ["Home", "About", "Contact"] %>
	<% menu_items.each do |item| %>
	<ul>
		<li><a><%= item %></a></li>
	</ul>
	<% end %>

